@font-face
{
    font-family: "Droid Serif";
    src: url( "/base/assets/fonts/DroidSerif.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/DroidSerif.woff" ) format( "woff" ),
        url( "/base/assets/fonts/DroidSerif.ttf" ) format( "ttf" );
    font-style: normal;
    font-weight: 400;
}

@font-face
{
    font-family: "Droid Serif";
    src: url( "/base/assets/fonts/DroidSerif-Bold.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/DroidSerif-Bold.woff" ) format( "woff" ),
        url( "/base/assets/fonts/DroidSerif-Bold.ttf" ) format( "ttf" );
    font-style: normal;
    font-weight: 700;
}

@font-face
{
    font-family: "Droid Serif";
    src: url( "/base/assets/fonts/DroidSerif-Italic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/DroidSerif-Italic.woff" ) format( "woff" ),
        url( "/base/assets/fonts/DroidSerif-Italic.ttf" ) format( "ttf" );
    font-style: italic;
    font-weight: 400;
}

@font-face
{
    font-family: "Droid Serif";
    src: url( "/base/assets/fonts/DroidSerif-BoldItalic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/DroidSerif-BoldItalic.woff" ) format( "woff" ),
        url( "/base/assets/fonts/DroidSerif-BoldItalic.ttf" ) format( "ttf" );
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-BlackItalic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-BlackItalic.woff" ) format( "woff" );
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Black.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Black.woff" ) format( "woff" );
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Bold.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Bold.woff" ) format( "woff" );
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-BoldItalic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-BoldItalic.woff" ) format( "woff" );
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Medium.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Medium.woff" ) format( "woff" );
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Italic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Italic.woff" ) format( "woff" );
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-MediumItalic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-MediumItalic.woff" ) format( "woff" );
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Regular.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Regular.woff" ) format( "woff" );
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-LightItalic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-LightItalic.woff" ) format( "woff" );
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-ThinItalic.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-ThinItalic.woff" ) format( "woff" );
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Light.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Light.woff" ) format( "woff" );
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url( "/base/assets/fonts/Roboto-Thin.woff2" ) format( "woff2" ),
        url( "/base/assets/fonts/Roboto-Thin.woff" ) format( "woff" );
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


html,
body
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main
{
    padding: 2em;
    font-size: 100%;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}


.main h1,
.main h2,
.main h3 {
    font-weight: 900;
}

.story
{
    margin: 1em 0;
}

.story p
{
    text-align: justify;
    font-family: "Droid Serif", serif;
    margin: 0;
}

.story p + p
{
    text-indent: 2em;
}

@media (min-width: 1200px)
{
    .main
    {
        font-size: 125%;
    }
}

@media (min-width: 1920px)
{
    .main
    {
        font-size: 150%;
    }
}